.card-product__info {
  padding: 27px 28px 8px;
  border: 1px solid #ededed;
}

.card-product__title {
  margin: 0;
  margin-bottom: 4px;
}

.card-product__link {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $bold-text-color;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}



.card-product__characteristic {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  color: $text-color;
}

.card-product__price-wrapper {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ededed;
}

.card-product__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: $bold-text-color;
}

.card-product__basket {
  stroke: #cccccc;

  &:hover {
    stroke: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.card-product__basket-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus .card-product__basket{
    stroke: $main-color;
  }
}

@media (min-width: $medium-width) {

  .card-product {
    display: flex;
  }

  .card-product__info {
    width: 50%;
    min-height: 334px;
    display: flex;
    flex-direction: column;
  }

  .card-product__link {
    font-size: 20px;
  }

  .card-product__characteristic {
    font-size: 15px;
  }

  .card-product__price-wrapper {
    margin-top: auto;
    padding: 5px;
    padding-bottom: 0;
  }

  .card-product__price {
    font-size: 17px;
  }
}

@media (min-width: $large-width) {

  .products__card {
    flex-direction: column;
    width: 315px;
  }

  .card-product__info {
    width: auto;
    min-height: 195px;
    flex-grow: 1;
  }

  .card-product__characteristic {
    margin-bottom: 15px;
  }

  .card-product__price-wrapper {
    padding: 0;
  }
}
