.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__wrapper {
  margin-bottom: 32px;
}

.form__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $main-color;
  text-transform: uppercase;
  display: flex;

  &::after {
    content: "";
    flex-grow: 1;
    align-self: center;
    margin-left: 20px;
    width: 5px;
    height: 1px;
    background-color: $main-color;
  }
}


.form__choice-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 21px;

  &:hover .form__custom-radio,
  &:hover .form__custom-checkbox,
  .form__choice:focus + .form__custom-checkbox,
  .form__choice:focus + .form__custom-radio {
    border-color: $main-color;
  }

  &:active .form__custom-radio,
  &:active .form__custom-checkbox {
    border-color: #c7c7c7;
  }
}

.form__choice-item:last-child {
  margin-bottom: 0;
}

.form__custom-input-text {
  width: 155px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $bold-text-color;
}

//***************radio-button***************

.form__custom-radio {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  border-radius: 50%;
  margin-right: 20px;


  &::after {
    transform: scale(0);
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    background-color: $main-color;
    border-radius: 50%;
  }
}

.form__choice:checked + .form__custom-radio::after {
  transition: all 0.2s linear;
  transform: scale(1);
}

//***************checkbox-button***************

.form__custom-checkbox {
  position: relative;
  width: 40px;
  height: 39px;
  border: 2px solid #444444;
  margin-right: 20px;

  &::before {
    opacity: 0;
    position: absolute;
    content: "";
    width: 18px;
    height: 8px;
    top: 12px;
    left: 10px;
    border: 2px solid #444;
    border-top-style: none;
    border-right-style: none;
    border-radius: 1px;
    transform: rotate(-45deg);
  }
}

.form__choice:checked + .form__custom-checkbox::before {
  opacity: 1;
}

//*******************name-input*******

.form__name-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__title--name {
  margin-bottom: 32px;
}

.form__input-name {
  border: none;
  padding: 10px 20px 15px 0;
  font-size: 19px;
  line-height: 18px;
  color: $text-color;
  border-bottom: 2px solid #000;

  &:hover {
    border-color: $main-color;
  }

  &:active,
  &:focus {
    outline: none;
    border-color: $second-main-color;
  }
}

.form__input-name::placeholder {
  opacity: 0.3;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $text-color;
  text-transform: capitalize;
}

//*******************contacts********
.form__contacts-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;

  &:hover .form__contacts-icon {
    opacity: 1;
    fill: $main-color;
  }

  &:active .form__contacts-icon {
    opacity: 1;
    fill: $second-main-color;
  }
}

.form__title--contacts {
  margin-bottom: 10px;
}

.form__input-contacts {
  padding: 10px 0;
}

.form__contacts-icon {
  position: absolute;
  opacity: 0.2;
}

.form__contacts-icon--phone {
  right: 10px;
  top: 35px;
}

.form__contacts-icon--mail {
  right: 5px;
  top: 36px;
}

//************textarea**********

.form__text-input {
  width: 100%;
  min-height: 140px;
  padding: 12px 14px;
  border: 2px solid #000;
  font-size: 17px;
  line-height: 18px;
  color: $text-color;
  margin-bottom: 5px;

  &:hover {
    border-color: $main-color;
  }

  &:active,
  &:focus{
    outline: none;
    border-color: $second-main-color;
  }
}

.form__required-text {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $text-color;
}


@media (min-width: $medium-width) {

  .form {
    width: 100%;
  }

  .form__fieldset--gray {
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 25px;
  }


  .form__wrapper {
    display: flex;
    width: 768px;
    margin: 0 auto 50px;
    padding: 0 50px;
  }

  .form__margin-wrapper {
    margin-top: 50px;
    margin-bottom: 27px;
  }

  .form__inner-wrapper {
    width: 465px;
  }

  .form__title {
    width: 70px;
    margin-right: 96px;
    margin-top: 18px;

    &::after {
      display: none;
    }
  }

  .form__custom-input-text {
    font-size: 19px;
    line-height: 18px;
    width: auto;
  }

  .form__input-name {
    background-color: transparent;
    margin-left: 27px;
    flex-grow: 1;
    padding-left: 15px;
  }

  .form__input-name::placeholder {
    font-size: 19px;
    line-height: 18px;
  }

  //***********radio-button******

  .form__custom-radio {
    width: 52px;
    height: 52px;
    margin-right: 27px;

    &::after {
      width: 22px;
      height: 22px;
      margin-left: -11px;
      margin-top: -11px;
    }
  }

  //*********checkbox-button****


  .form__choice-checkbox {
    width: 200px;
    margin-bottom: 23px;
    margin-right: 0;

    &:last-child {
      margin-bottom: 25px;
    }
  }

  .form__color--wrapper {
    margin-bottom: 0;
  }

  .form__checkbox-inner-wrapper {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }

  .form__custom-checkbox {
    width: 52px;
    height: 52px;
    margin-right: 28px;

    &::before {
      width: 27px;
      height: 17px;
      top: 12px;
      left: 10px;
      border: 2px solid #444;
      border-top-style: none;
      border-right-style: none;
      border-radius: 1px;
      transform: rotate(-45deg);
    }
  }
  //************name****

  .form__name-wrapper {
    flex-direction: row;
    align-items: center;
    margin-bottom: 23px;
  }

  .form__grow-name-wrapper {
    flex-grow: 1;
  }

  //************contacts****
  .form__contacts-wrapper {
    flex-direction: row;
    width: 668px;
    margin-bottom: 26px;
  }

  .form__input-contacts {
    margin-left: 0;
    padding-bottom: 13px;
  }

  .form__contacts-icon--phone {
    right: 27px;
    top: 10px;
  }

  .form__contacts-icon--mail {
    right: 23px;
    top: 15px;
  }

  //*******textarea******

  .form__textarea-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 501px;
  }

  .form__required-text {
    text-align: right;
    font-size: 17px;
    line-height: 30px;
    order: 1;
  }

  .form__text-input {
    margin-bottom: 65px;
  }

  .form__submit-button {
    order: 1;
    align-self: flex-start;
    margin-left: -165px;
    margin-top: -70px;
    width: 230px;
  }
}

@media (min-width: $large-width) {

  .form__wrapper {
    width: 1050px;
    padding: 0 60px;
  }

  .form__choice-item {
    margin-bottom: 25px;
  }

  .form__title {
    margin-right: 45px;
    margin-top: 18px;
  }

  //***********checkbox********

  .form__checkbox-inner-wrapper {
    justify-content: space-between;
    width: 725px;
  }

  //**************name

  .form__name-wrapper {
    margin-bottom: 25px;
    padding-right: 115px;
  }

  .form__input-name {
    padding-bottom: 12px;
  }

  //************contacts

  .form__contacts-wrapper {
    width: 815px;
  }

  .form__input-contacts {
    margin-left: 0;
    padding-bottom: 14px;
  }

  .form__contacts-icon--phone {
    right: 10px;
  }

  .form__contacts-icon--mail {
    right: 6px;
  }

  //**********textarea

  .form__textarea-wrapper {
    width: auto;
    flex-grow: 1;
    padding-right: 115px;
  }

  .form__text-input {
    margin-bottom: 60px;
  }

  .form__submit-button {
    margin-left: 0;
  }
}
