.good-deal {
  display: none;
}

@media (min-width: $large-width) {
  .good-deal {
    @include list-reset;
    display: flex;
    order: 3;
    width: 50%;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
  }

  .good-deal__item {
    margin-right: 10px;

    &:hover {
    opacity: 0.6;
  }

    &:active {
    opacity: 0.3;
    }
  }

  .good-deal__link {
    display: block;
    padding: 16px 50px 25px 0;
    color: $bold-text-color;
    text-decoration: none;
  }
}
