.main-footer {
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-footer__logo {
  display: none;
}

@media (min-width: $medium-width) {

  .main-footer__wrapper {
    max-width: 768px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 50px;
  }

  .main-footer__logo {
    display: block;
    margin-right: 159px;
  }

  .main-footer__logo-img {

    &:hover {
      fill: $second-main-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

/*******************************************/

.social {
  @include list-reset;
  padding: 0 60px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__item {
  padding: 26px 0 18px;
}


.social__img:hover {
  fill: $second-main-color;
}

.social__img:active {
  opacity: 0.3;
}

@media (min-width: $medium-width) {

  .social {
    padding: 0;
    margin-right: 82px;
    border: none;
    width: 140px;
    justify-content: space-between;
  }

  //.social__item {
  //  padding: 0;
  //}
}

/**********************************************/


.developer__copyright {
  padding: 17px 37px 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s linear;

  &:hover .developer__img {
    fill: $second-main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.developer__info {
  margin: 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $bold-text-color;
}

.developer__img {
  fill: $main-color;
}

@media (min-width: $medium-width) {

  .developer__copyright {
    width: 185px;
    padding: 0;
  }
}
