.main-header {



}


/*****************************************************/
.main-nav {

}

.main-nav__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 21px 30px 15px 30px;
  border-bottom: 1px solid $under-border-color;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .main-nav__logo-wrapper {
     justify-content: flex-start;
   }
}

.main-nav__logo {
  margin: 0 auto;
  text-decoration: none;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__button-toggle {
  position: relative;

  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;


  &:active,
  &:focus{
    outline: none;
  }
}

.main-nav--closed .main-nav__button-toggle {

  &::before {
    position: absolute;
    top:3px;
    left: 0;
    width: 25px;
    height: 2px;
    content: "";
    background-color: #000;
    box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
  }
}

.main-nav--opened .main-nav__button-toggle {

  &::before,
  &::after{
    position: absolute;
    top: 7px;
    left: 2px;
    width: 28px;
    height: 2px;
    content: "";
    background-color: #000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__delivery {
  display: none;
}


@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-navigation {
    display: none;
  }

  .main-nav--closed .user-navigation {
    display: none;
  }
}

@media (min-width: $medium-width) {
  .main-nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

  }

  .main-nav__logo-wrapper {
    padding-left: 50px;
    padding-top: 23px;
    padding-bottom: 12px;
    margin-right: 100px;
    flex-grow: 1;
    justify-content: flex-start;
    border-bottom: none;
  }

  .main-nav__logo {
    margin: 0;
  }

  .main-nav__logo-image {
    width: 113px;
    height: 46px;
  }
  .main-nav__button-toggle {
    display: none;
  }


  .main-nav__delivery {
    border-top: 1px solid $under-border-color;
    background-color: #f9f9f9;
    text-align: right;
    font-size: 15px;
    color: $text-color;
    line-height: 24px;
    padding: 16px 50px 25px 0;
    margin: 0;
    width: 50%;
    order: 3;
    display: block;

  }
}


@media (min-width: $large-width) {
  .main-nav {
    padding: 0 100px;
  }
  .main-nav__logo-wrapper {
    margin-right: 0;
    flex-grow: 0;
    order: 1;
    padding: 8px 0 0 0;
  }
  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__delivery {
    order: 4;
    padding-right: 0;
    background-color: transparent;
    border-top: none;
  }
}
/*****************************************************/

.site-navigation {
  @include list-reset;
}

.site-navigation__item {
  border-bottom: 1px solid $under-border-color;
}

.site-navigation__link {
  display: block;
  width: 100%;
  padding: 26px 30px 27px 75px;
  font-weight: 700;
  line-height: 24px;
  //text-align: center;
  color: $bold-text-color;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $medium-width) {
  .site-navigation {
    border-top: 1px solid $under-border-color;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    padding-left: 50px;
    width: 50%;
    background-color: #f9f9f9;
    //@include myOutline(green);
    order: 2;
    display: flex;
  }

  .site-navigation__item {
    border-bottom: none;
  }

  .site-navigation__item--margin {
    margin-right: 35px;
  }

  .site-navigation__link {
    flex-basis: auto;
    padding: 0;
    padding: 17px 0 25px 0;
  }
}

@media (min-width: $large-width) {
  .site-navigation {
    padding-left: 0;
    margin-right: 39px;
    font-size: 17px;
    width: auto;
    order: 0;
    background: none;
  }

  .site-navigation__item--margin {
    margin-right: 0;
    border-right: 1px solid $under-border-color;
  }

  .site-navigation__link {
    padding: 30px;
    padding-right: 37px;
    padding-left: 34px;
  }

  .site-navigation__link--padding {
    padding-left: 0;
  }
}

/*****************************************************/


.user-navigation {
  @include list-reset;
}

.user-navigation__item {
  border-bottom: 1px solid $under-border-color;

}

.user-navigation__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 26px 30px 27px 75px;
  font-weight: 700;
  line-height: 24px;
  //text-align: center;
  color: $bold-text-color;
  text-decoration: none;

  &:hover .user-navigation__item-title {
    opacity: 0.6;
  }

  &:active .user-navigation__item-title{
    opacity: 0.3;
  }

  &:hover .user-navigation__item-icon {
    opacity: 1;
    fill:$main-color;
  }

  &:active .user-navigation__item-icon {
    opacity: 0.3;
  }
}

.user-navigation__item-icon {
  opacity: 0.2;
  position: absolute;
  left: 30px;
  top:31px;

}

@media (min-width: $medium-width) {
  .user-navigation {
    display: flex;
    order: 1;

  }

  .user-navigation__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    border-left: 1px solid $under-border-color;
  }




  .user-navigation__item-icon {
    position: static;
  }
  .user-navigation__item-title--hidden {
    display: none;

  }

  .user-navigation__link {
    padding: 31px 31px 31px 30px;
  }

  .user-navigation__link--padding-reset {
    padding: 29px 50px 31px 27px;
  }

  .user-navigation__item-icon--margin {
    margin-right: 30px;
  }

}

@media (min-width: $large-width) {
  .user-navigation {

    margin-left: auto;
    font-size: 17px;
    order: 2;
  }
  .user-navigation__link--padding-reset {
    padding-right: 0;
  }
}


/*****************************************************/
.good-deal {
  display: none;
}

@media (min-width: $large-width) {
  .good-deal {
    @include list-reset;
    width: 50%;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    order: 3;
  }

  .good-deal__item {
    margin-right: 10px;

    &:hover {
    opacity: 0.6;
  }

    &:active {
    opacity: 0.3;
    }
  }

  .good-deal__link {
    display: block;
    text-decoration: none;
    color: $bold-text-color;
    padding: 16px 50px 25px 0;

  }
}

/*****************************************************/

//font-family: OpenSans
//font-size: 17px
//line-height: 24px
//font-weight: 700
//color: #000000
