.main-nav {
  max-width: 1250px;
  margin: 0 auto;
}

.main-nav__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 21px 30px 15px 30px;
  border-bottom: 1px solid $under-border-color;
}

//Для коректного отображения мобильного меню на ie11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .main-nav__logo-wrapper {
    justify-content: flex-start;
  }
}

.main-nav__logo {
  margin: 0 auto;
  text-decoration: none;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
  margin-bottom: 10px;
}

.main-nav__button-toggle {
  position: relative;

  width: 28px;
  height: 28px;
  cursor: pointer;
  background-color: transparent;
  border: none;


  &:active,
  &:focus{
    outline: none;
  }
}

.main-nav--closed .main-nav__button-toggle {

  &::before {
    position: absolute;
    top:3px;
    left: 0;
    width: 25px;
    height: 2px;
    content: "";
    background-color: #000;
    box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
  }
}

.main-nav--opened .main-nav__button-toggle {

  &::before,
  &::after {
    position: absolute;
    top: 7px;
    left: 2px;
    width: 28px;
    height: 2px;
    content: "";
    background-color: #000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__delivery {
  display: none;
}


@media (max-width: $mobile-width-only) {

  .main-nav--closed .site-navigation {
    display: none;
  }

  .main-nav--closed .user-navigation {
    display: none;
  }

   .main-nav--nojs .site-navigation {
     display: block;
   }

  .main-nav--nojs .user-navigation {
    display: block;
  }

  .main-nav--nojs .main-nav__button-toggle {
    display: none;
  }
}

@media (min-width: $medium-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

  }

  .main-nav__logo-wrapper {
    flex-grow: 1;
    justify-content: flex-start;
    padding-top: 23px;
    padding-bottom: 12px;
    padding-left: 50px;
    margin-right: 100px;
    border-bottom: none;
  }

  .main-nav__logo {
    margin: 0;
  }

  .main-nav__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-nav__button-toggle {
    display: none;
  }


  .main-nav__delivery {
    display: block;
    order: 3;
    width: 50%;
    padding: 16px 50px 25px 0;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    color: $text-color;
    text-align: right;
    background-color: #f9f9f9;
    border-top: 1px solid $under-border-color;

  }

}


@media (min-width: $large-width) {
  .main-nav {
    padding: 0 100px;
  }
  .main-nav__logo-wrapper {
    flex-grow: 0;
    order: 1;
    padding: 8px 0 0;
    margin-right: 0;
  }
  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__delivery {
    order: 4;
    padding-right: 0;
    background-color: transparent;
    border-top: none;
  }
}
