.main-footer {
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-footer__logo {
  display: none;
}

@media (min-width: $medium-width) {

  .main-footer__wrapper {
    max-width: 768px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 50px;
  }

  .main-footer__logo {
    display: block;
    margin-right: 159px;
  }

  .main-footer__logo-img {
    transition: all 0.3s linear;

    &:hover {
      fill: $second-main-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $large-width) {

  .main-footer__wrapper {
    max-width: 1250px;
    padding: 30px 100px;
  }

  .main-footer__logo {
    margin-right: 350px;
  }
}




