.modal-order {
  position: fixed;
  padding: 30px 30px 46px;
  background-color: #ffffff;
  width: 320px;
  z-index: 20;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -170px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #c6c6c6;
  display: none;
}

.modal-opened {
  display: block;
  animation: magnification 0.3s linear;
}

.modal-close-animation {
  transition: 0.4s all;
  transform: scale(0);
}

.modal-order__title {
  text-align: center;
  width: 145px;
  margin: 0 auto;
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: $bold-text-color;
}

.modal-order__form {

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.modal-order__form-name {
  color: $text-color;
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
}

.modal-order__add-button {
  color: #ffffff;
  background-color: $main-color;
  border-color: $main-color;

  &:hover {
    background-color: $second-main-color;
    border-color: $second-main-color;
  }
}

@media (min-width: $medium-width) {

  .modal-order {
    width: 570px;
    margin-top: -170px;
    margin-left: -285px;
    padding: 35px 110px 46px;
  }

  .modal-order__title {

    width: 100%;
    font-size: 29px;
    line-height: 57px;
  }

  .modal-order__form-name {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 23px;
  }

  .modal-order__add-button {
    width: 100%;
  }
}



/******************************************/

.size-list {
  @include list-reset;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
}

.size-list__button {
  cursor: pointer;
  text-align: center;
  display: block;
  line-height: 16px;
  font-weight: 700;
  color: $text-color;
  width: 82px;
  border: 2px solid $under-border-color;
  padding: 15px 0;

  &:hover {
    border-color: #c7c7c7;
  }
}

.size-list__radio-button:checked + .size-list__button,
.size-list__radio-button:focus + .size-list__button {
  border-color: $main-color;
}



@media (min-width: $medium-width) {

  .size-list {
    margin-bottom: 30px;
  }

  .size-list__button {
    width: 112px;
  }
}
