.order {
  min-width: 320px;
  margin: 0 auto;
  padding: 22px 30px 0;
}

.order__desc {
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  color: $text-color;
}

@media (min-width: $medium-width) {

  .order {
    padding: 0;
    padding-top: 65px;
  }

  .order__desc {
    width: 670px;
    margin: 0 auto 57px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $large-width) {

  .order {
    padding-top: 105px;
  }

  .order__desc {
    width: 700px;
  }
}



