.products {
  max-width: 320px;
  margin: 0 auto;
  padding: 32px 30px 30px;
}

.products__list {
  @include list-reset;
}

.products__item {
  margin-bottom: 30px;
  transition: all 0.3s linear;

    &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $medium-width ) {

  .products {
    max-width: 768px;
    padding: 70px 50px 55px;
  }

  .products__item {
    margin-bottom: 54px;
  }
}

@media (min-width: $large-width) {

  .products {
    max-width: 1150px;
    padding: 115px 50px 0;
  }

  .products__list {
    display: flex;
    justify-content: space-between;
  }

  .products__item {
    display: flex;

    &:last-child {
      margin-bottom: 54px;}
  }
}

