.site-navigation {
  @include list-reset;
}

.site-navigation__item {
  border-bottom: 1px solid $under-border-color;
}

.site-navigation__link {
  display: block;
  width: 100%;
  padding: 26px 30px 27px 75px;
  font-weight: 700;
  line-height: 24px;
  //text-align: center;
  color: $bold-text-color;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $medium-width) {

  .site-navigation {
    display: flex;
    //@include myOutline(green);
    order: 2;
    width: 50%;
    padding-left: 50px;
    font-size: 15px;
    line-height: 24px;
    background-color: #f9f9f9;
    border-top: 1px solid $under-border-color;
  }

  .site-navigation__item {
    border-bottom: none;
  }

  .site-navigation__item--margin {
    margin-right: 35px;
  }

  .site-navigation__link {
    flex-basis: auto;
    padding: 17px 0 25px 0;
  }
}

@media (min-width: $large-width) {

  .site-navigation {
    order: 0;
    width: auto;
    padding-left: 0;
    margin-right: 39px;
    font-size: 17px;
    background: none;
  }

  .site-navigation__item--margin {
    margin-right: 0;
    border-right: 1px solid $under-border-color;
  }

  .site-navigation__link {
    padding: 30px;
    padding-right: 37px;
    padding-left: 34px;
  }

  .site-navigation__link--padding {
    padding-left: 0;
  }
}
