

.characteristics-list {
  @include list-reset;
  font-size: 15px;
  line-height: 20px;
  color: $text-color;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.characteristics-list__name {
  padding: 10px 0;
  width: 38%;
  border-bottom: 1px solid $under-border-color;
}

.characteristics-list__definition {
  padding: 10px 0;
  margin: 0;
  width: 62%;
  border-bottom: 1px solid $under-border-color;
}

@media (min-width: $medium-width) {
  .characteristics-list__name {
    width: 34%;
    padding: 9px 0 9px;
  }

  .characteristics-list__definition {
    width: 66%;
    padding: 9px 0 9px;
  }
}


/**************************************/

.week-product {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    width: calc(100% - 30px);
    height: 6px;
    background-image: url(../img/week-product/zigzag-gray.svg);
    background-repeat: repeat-x;
  }
}

.week-product__container {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  padding: 31px 30px 36px;
}

.week-product__iner-wrapper {
  display: flex;
  flex-direction: column;
}

.week-product__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 700;
  color: $bold-text-color;
}

.week-product__subtitle {
  margin: 0;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $main-color;

  br {
    display: none;
  }
}

.week-product__description {
  margin: 0;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color;
}

.week-product__characteristics {
  margin-bottom: 28px;
}

.week-product__image {
  width: 260px;
  margin-bottom: 20px;
}

.week-product picture {
  align-self: center;
}

.week-product__price {

  font-weight: 700;
  color: $text-color;
  align-self: center;
  margin-bottom: 24px;
}

.week-product__button {
  margin-top: auto;
  align-self: center;
}

@media (min-width: $medium-width) {

  .week-product::after {
    bottom: -15px;
    width: 100%;
    height: 17px;
    background-image: url(../img/week-product/zigzag-gray2.svg);
  }

  .week-product__container {
    padding: 43px 50px 52px;
    //Для абсолютного позиционирования подзаголовка и картинки товара
    position: relative;
  }

  .week-product__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .week-product__iner-wrapper {
    width: 43%;
  }

  .week-product__subtitle {
    position: absolute;
    right: 76px;
    top: 52px;
    text-align: center;
    line-height: 17px;

    br {
      display: inline;
    }
  }

  .week-product__description {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__image {
    position: absolute;
    right: 51px;
    top: 150px;
    width: 333px;
    height: 404px;
  }

  .week-product__characteristics {
    margin-bottom: 56px;
  }

  .week-product__price {
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
  }

  .week-product__button {
    width: 292px;
  }
}

@media (min-width: $large-width) {

  .week-product::after {
    bottom: 0;
    width: 1050px;
    height: 23px;
    background-image: url(../img/week-product/zigzag-desktop.svg);
  }

  .week-product__container {
    padding: 119px 100px 93px 275px;
  }

  .week-product__title {
    font-size: 53px;
    line-height: 57px;
    position: relative;
    z-index: 2;
  }

  .week-product__iner-wrapper {
    width: 292px;
  }

  .week-product__subtitle {
    //Значение по умолчании
    right: auto;
    left: 147px;
    top: 135px;
  }

  .week-product__description {
    margin-bottom: 51px;
  }

  .week-product__image {
    top: 70px;
    right: 100px;
    width: 525px;
    height: 636px;
  }

  .week-product__characteristics {
    margin-bottom: 111px;
  }
}

