.week-product {
  width: 260px;
  margin: 0 auto;
  color: $text-color;

  .week-product__header {
    padding: 0;
    margin: 0;
  }
  .week-product__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;

    color: $bold-text-color;

  }

  .week-product__subtitle {
    font-weight: 700;
    line-height: 20px;
    color: $main-color;
    text-transform: uppercase;
  }

  .week-product__price {
    font-weight: 700;
    color: $bold-text-color;
    text-align: center;
  }
}


@media (min-width: $medium-width) {
  .week-product {
    position: relative;
    width: 768px;
    padding: 0 50px;

    .week-product__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;

    }

    .week-product__description {
      width: 50%;
    }

    .characteristics-list {
      flex-grow: 1;
      width: 50%;
    }

    .week-product__image {
      position: absolute;
      top: 50px;
      right: 0;
      order: 2;
      height: 405px;
    }

    .week-product__button {
      width: auto;
      margin-top: auto;
    }



  }
  .week-product__header {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $large-width) {
  .week-product {
    width: 1250px;
    padding: 0 100px;

    .week-product__image {
    top: 0;
    z-index: -1;
    left: 700px;
  }

      .week-product__wrapper {
    margin-left: 300px;
        width: 400px;
  }
  }

  .week-product__header {
    justify-content: flex-start;
  }

  .week-product__title {
    margin-left: 300px;
    order: 2;
  }



  .week-product__image {
    top: 100px;
    left: 700px;
  }
}
