*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

body {
  min-width: 320px;
  max-width: 1250px;
  margin: 0 auto;
  font-family: 'Open Sans', 'Arial',sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0); }

.main-nav__logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 21px 30px 15px 30px;
  border-bottom: 1px solid #ececec; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .main-nav__logo-wrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

.main-nav__logo {
  margin: 0 auto;
  text-decoration: none; }
  .main-nav__logo:hover {
    opacity: 0.6; }
  .main-nav__logo:active {
    opacity: 0.3; }

.main-nav__logo-image {
  width: 86px;
  height: 35px; }

.main-nav__button-toggle {
  position: relative;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background-color: transparent;
  border: none; }
  .main-nav__button-toggle:active, .main-nav__button-toggle:focus {
    outline: none; }

.main-nav--closed .main-nav__button-toggle::before {
  position: absolute;
  top: 3px;
  left: 0;
  width: 25px;
  height: 2px;
  content: "";
  background-color: #000;
  -webkit-box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
          box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000; }

.main-nav--opened .main-nav__button-toggle::before, .main-nav--opened .main-nav__button-toggle::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 28px;
  height: 2px;
  content: "";
  background-color: #000; }

.main-nav--opened .main-nav__button-toggle::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.main-nav--opened .main-nav__button-toggle::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.main-nav__delivery {
  display: none; }

@media (max-width: 767px) {
  .main-nav--closed .site-navigation {
    display: none; }
  .main-nav--closed .user-navigation {
    display: none; } }

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .main-nav__logo-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 23px;
    padding-bottom: 12px;
    padding-left: 50px;
    margin-right: 100px;
    border-bottom: none; }
  .main-nav__logo {
    margin: 0; }
  .main-nav__logo-image {
    width: 113px;
    height: 46px; }
  .main-nav__button-toggle {
    display: none; }
  .main-nav__delivery {
    display: block;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
    padding: 16px 50px 25px 0;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    text-align: right;
    background-color: #f9f9f9;
    border-top: 1px solid #ececec; } }

@media (min-width: 1250px) {
  .main-nav {
    padding: 0 100px; }
  .main-nav__logo-wrapper {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding: 8px 0 0 0;
    margin-right: 0; }
  .main-nav__logo-image {
    width: 149px;
    height: 72px; }
  .main-nav__delivery {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    padding-right: 0;
    background-color: transparent;
    border-top: none; } }

.site-navigation {
  padding: 0;
  margin: 0;
  list-style: none; }

.site-navigation__item {
  border-bottom: 1px solid #ececec; }

.site-navigation__link {
  display: block;
  width: 100%;
  padding: 26px 30px 27px 75px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none; }
  .site-navigation__link:hover {
    opacity: 0.6; }
  .site-navigation__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .site-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
    padding-left: 50px;
    font-size: 15px;
    line-height: 24px;
    background-color: #f9f9f9;
    border-top: 1px solid #ececec; }
  .site-navigation__item {
    border-bottom: none; }
  .site-navigation__item--margin {
    margin-right: 35px; }
  .site-navigation__link {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    padding: 0;
    padding: 17px 0 25px 0; } }

@media (min-width: 1250px) {
  .site-navigation {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    width: auto;
    padding-left: 0;
    margin-right: 39px;
    font-size: 17px;
    background: none; }
  .site-navigation__item--margin {
    margin-right: 0;
    border-right: 1px solid #ececec; }
  .site-navigation__link {
    padding: 30px;
    padding-right: 37px;
    padding-left: 34px; }
  .site-navigation__link--padding {
    padding-left: 0; } }

.user-navigation {
  padding: 0;
  margin: 0;
  list-style: none; }

.user-navigation__item {
  border-bottom: 1px solid #ececec; }

.user-navigation__item-icon {
  position: absolute;
  top: 31px;
  left: 30px;
  opacity: 0.2; }

.user-navigation__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 26px 30px 27px 75px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none; }
  .user-navigation__link:hover .user-navigation__item-title {
    opacity: 0.6; }
  .user-navigation__link:active .user-navigation__item-title {
    opacity: 0.3; }
  .user-navigation__link:hover .user-navigation__item-icon {
    opacity: 1;
    fill: #63d1bb; }
  .user-navigation__link:active .user-navigation__item-icon {
    opacity: 0.3; }

@media (min-width: 768px) {
  .user-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .user-navigation__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: none;
    border-left: 1px solid #ececec; }
  .user-navigation__item-icon {
    position: static; }
  .user-navigation__item-title--hidden {
    display: none; }
  .user-navigation__link {
    padding: 31px 31px 31px 30px; }
  .user-navigation__link--padding-reset {
    padding: 29px 50px 31px 27px; }
  .user-navigation__item-icon--margin {
    margin-right: 30px; } }

@media (min-width: 1250px) {
  .user-navigation {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
    font-size: 17px; }
  .user-navigation__link--padding-reset {
    padding-right: 0; } }

.good-deal {
  display: none; }

@media (min-width: 1250px) {
  .good-deal {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px; }
  .good-deal__item {
    margin-right: 10px; }
    .good-deal__item:hover {
      opacity: 0.6; }
    .good-deal__item:active {
      opacity: 0.3; }
  .good-deal__link {
    display: block;
    padding: 16px 50px 25px 0;
    color: #000000;
    text-decoration: none; } }
