@charset "UTF-8";

*, *::before, *::after {
box-sizing:inherit;
}

html {
  box-sizing:border-box;
}

.content-box-component {
  box-sizing:content-box;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Open Sans', 'Arial',sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $medium-width) {
    width: 768px;
  }

  @media (min-width: $large-width) {
    width: 1250px;
  }

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);

}
