//Фирменный цвет страницы
$main-color:#63d1bb;
//Второй фирменный цвет
$second-main-color: #56c3b2;
//Цвет основного текста
$text-color:#444444;
//Цвет заголовков и болд текста
$bold-text-color:#000000;
//Цвет подчеркиваний меню и некоторых кнопок
$under-border-color: #ececec;
//medium viewport
$medium-width: 768px;
//large  viewport
$large-width: 1250px;
//Только для мобильных
$mobile-width-only: 767px;
//Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
