//Фирменный цвет страницы
$main-color:#63d1bb;
//Цвет основного текста
$text-color:#444444;
//Цвет заголовков и болд текста
$bold-text-color:#000000;
//medium viewport
$medium-width: 768px;
//large  viewport
$large-width: 1250px;
