.about-us {
  width: 260px;
  margin: 0 auto;

  .about-us__title {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    color: $bold-text-color;
  }

  .about-us__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .about-us__list-item {
    padding-top: 20px;
  }

  .about-us__item-name {
    margin: 0;
    font-weight: 700;
    line-height: 20px;
    color: $bold-text-color;
  }
}

@media (min-width: $medium-width) {
  .about-us {
    width: 768px;
    padding: 0 50px;
  }

  .about-us__list {
    width: 40%;
  }

  .about-us__list-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $large-width) {
  .about-us {
    width: 1250px;
    padding: 0 275px;
  }
}
